/*CSS - All fonts are overrided by bootstrap's default font.*/

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-shadow: 2px 2px 2px rgb(179, 177, 177);
	letter-spacing: 0.5px;
  font-weight: 700;
  text-transform: uppercase;
}

body {
  background-color: #adadad;
  font-family: Arial, Helvetica, sans-serif;
 
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

/*#container {

  width: 1109px;
  border: 5px solid white;
  margin: auto;
  border-radius: 0.25em;
  background-color: white;

}*/

p {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  font-family: Arial, Helvetica, sans-serif;
  
}

button {
    color: inherit;
    background: none;
    cursor: pointer;
    /*padding: 25px 80px;*/
    margin: 2px 1px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
		/* Animations */
    -webkit-transition: all 0.01s;
    -moz-transition: all 0.01s;
    transition: all 0.01s;
		font-family: Arial, Helvetica, sans-serif;
		border: black;
		border-width: 0.25rem;
		padding: 5px;
		text-decoration: none;
		display: inline-block;
		font-size: 14px;
		border-radius: 0.25em;
		background-color: silver;
		
}

button:hover {
  background-color: #82807c;
  cursor: pointer;
    transform: scale(1.1, 1.1);
}  

button:active {
	position: relative;
	top: 1px;
  
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 6px;
  z-index: 1;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 100;
}

.dropdown:hover {
  cursor: pointer;
}

.rounded-body {
  border-radius: 0.25em;
  background-color: gainsboro;
  width: 250px;
}

.level-header {
  text-decoration: underline;
}

#backtotop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #f8f9fa;
  color: #212529;
  cursor: pointer;
  padding: 15px;
  border-radius: 0.25em;
  font-size: 15px;
}

#backtotop:hover {
  background-color: lightgrey;
}

/*On hover stuff*/

.onhover {
    position: relative;
}
    
.onhover:hover:after {
    position: absolute;
    content: attr(title);
    display: inline-block;
    left: 0px;
    width: 270px;
    top: -45px;
    padding: 5px;
    background-color: black;
    color: white;
}

@keyframes colours {
  0% {background-color: rgb(240, 162, 89);}
  10% {background-color: rgb(233, 225, 110);}
 20% {background-color: rgb(196, 233, 110);}
30% {background-color: rgb(110, 233, 137);}
40% {background-color: rgb(110, 233, 213);}
50% {background-color: rgb(110, 219, 233);}
60% {background-color: rgb(110, 167, 233);}
70% {background-color: rgb(112, 110, 233);}
80% {background-color: rgb(157, 110, 233);}
90% {background-color: rgb(233, 110, 233);}
95% {background-color: rgb(233, 110, 120);}
100% {background-color: rgb(240, 162, 89);}
}

/* Keep footer at the bottom */

body{ height:100vh; margin:0; }

header{ min-height:50px; }
footer{ min-height:20px; }

/* Trick */
body{ 
  display:flex; 
  flex-direction:column; 
}

footer{
  margin-top:auto; 
}

